.ticketStatus >h1{
    color:rgb(0, 174, 239);
}
.toOpenTicketRoute{
    color: #0072bc;
    text-decoration: none;
    font-weight: bold;
}
.ticketstatusForm{
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px inset;
    padding: 20px;
    color: white;font-weight: bold;
    border-width: 1px;
    margin-right: 20rem;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-radius: 5px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,160,187,1) 0%, rgba(0,188,219,0.90) 90% );
}
.emailAccesbtn{
    text-align: center;
    margin-left: 17rem;
    box-shadow: 0 1px 1px rgba(0,0,0.25);
}
.CheckStatusform{
    margin-left: 8rem;
    margin-right: 10rem;
}
/* Responsive styles for smaller screens */
@media only screen and (max-width: 991px) {
    .ticketstatusForm {
      margin-right: 1rem;
    }
  
    .emailAccesbtn {
      margin-left: 8rem;
    }
  
    .CheckStatusform {
      margin-left: 4rem;
      margin-right: 4rem;
    }
  }
  
  /* Responsive styles for tablets and smaller screens */
  @media only screen and (max-width: 767px) {
    .ticketstatusForm {
      margin-right: 2rem;
    }
  
    .emailAccesbtn {
      margin-left: 2rem;
    }
  
    .CheckStatusform {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
  
  /* Responsive styles for mobile devices */
  @media only screen and (max-width: 479px) {
    .ticketstatusForm,
    .emailAccesbtn,
    .CheckStatusform {
      margin-right: 1rem;
      margin-left: 1rem;
    }
  }