
footer{
    background: rgb(51, 56, 133);
    padding: 2px 0;
    height: 44vh;
}
.foot> li{
    list-style-type: none;
    margin-top: 15px;
}
/* .foot{
    margin: 0 20px;
} */
.scl-mda{
    margin-top: 145px;
}
.scl-mda>li i{
    margin-left: 1.5rem;
}

.font{
   align-items:center;
   justify-content:space-around;
}
.font li{
    margin: 6px;
}
 hr{
    color: white !important;
    width: 100%;
} 

.sol ul li{
    height: 40px;
    line-height: 30px;
    border-radius: 50%;
    color: #fff;
}
.foot li a{
   text-decoration: none;
   color: #fff;
   font-size: 16px;
   margin-left: 4px;
   transition: all .3s ease;
}
.foot li a:hover{
    padding-left: 6px;
    color: wheat;
}

.foot ul li{
    font-size: 16px;
    margin-left: 4px;
}

@media (max-width: 576px) {
    .col-lg-4 {
      display: block;
      
    }
  }
  
  @media(max-width:767px){
    .foot{
        width: 50%;
        margin-bottom: 30px;

    }
    .foot strong{
        margin-right:60px;
    }
    
    .sol {
        margin-right: 112px;
    }
  
}

@media(max-width:567px){
    .foot{
        width: 100%;
        margin-bottom: 30px;

    }
    p{
        text-align: left;
        margin: auto;
    }
    .sol {
        margin-right: 112px;
    }
  
}