*{
    margin: 0;
    padding: 0;
}
body{ 
    color: white;

}
footer{
    background: #16222A;
    padding: 20px 0;
}
li{
    list-style-type: none;
    margin-top: 15px;
}
.foot{
    margin-left: 60px;
}

img{
    align-items: center;
    vertical-align: middle;
    margin-left: 60pt;
}
p{
     font-size: 1.1rem;
}
.font{
   align-items:center;
   justify-content:space-around;
}
.font li{
    margin: 6px;
}
 hr{
    color: white !important;
    width: 100%;
} 

.sol ul li{
    height: 40px;
    line-height: 30px;
    border-radius: 50%;
    color: #fff;
}
.foot li a{
   text-decoration: none;
   color: #fff;
   font-size: 16px;
   margin-left: 4px;
   transition: all .3s ease;
}
.foot li a:hover{
    padding-left: 6px;
    color: wheat;
}
@media(max-width:767px){
    .foot{
        width: 50%;
        margin-bottom: 30px;

    }
    .foot strong{
        margin-right:60px;
    }
    p{
        text-align: left;
        margin: auto;
    }
    .sol {
        margin-right: 112px;
    }
  
}
@media(max-width:567px){
    .foot{
        width: 100%;
        margin-bottom: 30px;

    }
    p{
        text-align: left;
        margin: auto;
    }
    .sol {
        margin-right: 112px;
    }
  
}