@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.nav-link{
    color:black;
    font-family: 'Roboto', sans-serif;
}
.Logo_Side_text{
    font-size: 14px;
    text-align:center;
    font-family:"cursive";
    color:blue;
    display:inline;
}
.navBackground {
    background-image:url('../../.././assets/images/nav_bg.png');
    background-repeat:no-repeat;
    background-size:cover;
}
.nav-item:focus, 
.nav-item:hover,
.nav-item.active{
    background-color: #dbefff !important;
    color: #000;
    border-radius: 20px;
    box-shadow: 0 2px 3px rgba(0,0,0.25);
    transition: 0.5s ease;
   }