.knowledgebase{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-family: "Helvetica Neue", sans-serif;
}
.knowledgebase-parent{
display: flex;
justify-content: space-between;
}
.dropdown-toggle{
    box-shadow: 0 1px 1px rgba(0,0,0.25);
    background-color: #F7FBFE;
}
.kb{
    color: #0072bc;
    text-decoration: none;
    display: inline;
    margin-bottom: 1px;
}
.dropdown-item:hover{
   background-color: #0d6efd;
   color: white;
   border-radius: 50px;
}
.kb_paragraph >p{
    margin-left: 5rem;
    margin-top: 10px;
}
.kb_paragraph >ol >p{
    margin-left: 2rem;
    margin-top: 10px;
}
.collapse{
    margin-left: 2rem;
}
.kb_strong_paragraph{
    margin-left: 2rem;
}