.loginpage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  min-height: 100vh;
}
.login-box {
  position: relative;
  width: 400px;
  height: 450px;
  border-radius: 20px;
  background-color:rgb(237, 231, 223);
  border: 2px solid white;
  box-shadow: 10px 10px 10px rgba(9, 8, 8, 0.2);
}
.login-parent {
  margin-top: 4rem;
  margin-left: 8px;
  margin-right: 9px;
}
.login-parent h2 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}
.input-box {
  position: relative;
  width: 310px;
  margin: 30px 50px;
  border-bottom: 2px solid black;
}
.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  pointer-events: none;
  transition: 0.5s;
}
.input-box input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 30px 0 5px;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -4px;
}
.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  line-height: 57px;
}
.forgotPassword {
  margin-left: 18em;
  margin-bottom: 2em;
  font-size: 0.9em;
}
.forgotPassword .forgotpasswordLink {
  text-decoration: none;
  font-weight: bold;
}
.forgotPassword .forgotpasswordLink:hover {
  text-decoration: underline;
}
.loginbtn {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
}
/*  responsivenes*/
/* For Desktop and Tablet View */
@media screen and (min-width: 768px) {
  .loginpage {
    width: auto;
  }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) {
  .loginpage {
    width: auto;
  }
  
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
  .loginpage {
    width: auto;
  }
}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .loginpage {
    width: auto;
  }
}

/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .loginpage {
    width: auto;
  }
}

/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
  .loginpage {
    width: auto;
  }
}