.dataItem {
  color: black;
  text-decoration: none;
  display: block;
  margin-bottom: 2px;
  margin-left: 1rem;
}
.dataItem:hover {
  background-color: lightgray;
}
.dataResult {
  margin-top: 0rem;
  width: 30rem;
  height: 4rem;
  margin-left: 3rem;
  overflow: hidden;
  overflow-y: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}
.dataResult::-webkit-scrollbar {
  display: none;
}
.search-box > input {
  width: 70%;
  margin-right: 1rem;
  border-radius: 1rem;
}
